body {
    text-align: center;
    margin: 0;
    background-color: dodgerblue;
}
#imp{
    font-weight:500;
}
.text-capitalize{
    font-weight: bold;
    font-style:italic;
}

#heading{
    font-weight: bold;
    font-style:italic;
    
}
.p1{
    text-align: justify;
    
}
.disc{
    text-align: justify;
}
#abs{
    font-style:italic;
    font-weight:bold;
}
#img1{
    text-align: center;
   width:600px;
    height:200px;
}
#p2{
font-size:20px;
    
}
#motto{
   font-style:italic;
    font-weight:bold; 
}
#img{
    width:600px;
    height:500px;
}
#jh{
    font-weight;700;
}
#adm{
    font-style:italic;
    font-weight:bold;  
}
#img7{
    width:30px;
}
#cnt{
    font-style:italic;
    font-weight:bold; 
}
#iframe{
    text-align:right;
    margin-right:10px;
}
.adr{
    text-align:left;
    text-align: justify;
    .env_li{
    margin-top:13px;
}
.env_li h4{
    border-bottom:1px solid white;
    padding:8px;
}
.env_li img{
    border-radius:25px;
}
.env_li p{
    margin-top: 10 px;
}
.highlight{
    line-height:2;
}

}
.env_li{
    margin-top:13px;
}
.env_li h4{
    border-bottom:1px solid white;
    padding:8px;
}
.env_li img{
    border-radius:25px;
}
.env_li p{
    margin-top: 10 px;
}
.highlight{
    line-height:2;
    
}
#pa{
    width:50px;
    height: 70px;
}

#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.travel_div
{
    border:1px solid #c7c7c7;
    padding-left:0px;
    padding-right:0px;
    float:none;
}
.travel_div img
{
    width:100%;
}
.travel_div hr{
    width:230px;
}
.travel_div h5, .travel_div p{
    margin-left:20px;
    
}